<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out">
        </form>
    </div>

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="text" placeholder="Введите сообщение">
            <input type="text" name="tag" placeholder="Тэг">
            <input type="text" name="brand" placeholder="Брэнад авто">
            <button type="submit"> Добавить</button>
        </form>
    </div>

    <div>Тэг</div>
        <form method="post" action="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>

    <div>Брэнд авто</div>
    <form method="post" action="filter1">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>

    {{#ads}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <span>{{carName}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>

    </div>
    {{/ads}}

</body>
</html>